:root {
  font-family: "Roboto", sans-serif;
  line-height: 1;

  background-repeat: no-repeat;

  color-scheme: light;
  --txt: #1e1e1e;
  --bg: #ffffff;
  --accent-sm: #efefef;
  --accent-med: #cecece;
  --accent-high: #3b3b3b;
  --primary: #c8fa88;
  --primary-gradient: linear-gradient(
    to left,
    var(--primaryColor),
    var(--accent-med)
  );
  --warning: #faae88;
  --safe: #c8fa88;
  --danger: #ed7373;

  --nav-bar-spacing: 300px;
  --border: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root [data-theme="light"] {
  --text: #111111;
  --background: #eeeeee;
  --smallAccent: #aaaaaa;
  --mediumAccent: #666666;
  --highAccent: #cccccc;

  background-color: #eeeeee;
  color: var(--txt);
}

:root [data-theme="dark"] {
  --text: #dddddd;
  --background: #111111;
  --smallAccent: #444444;
  --mediumAccent: #aaaaaa;
  --highAccent: #181818;

  background-color: #111111;
  color: var(--txt);
}

body {
  background: linear-gradient(to right, #ffffff, #dddddd);
  margin: 0;
}

/** text */
p {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 10pt;
  font-weight: 400 !important;
  color: var(--txt);
}

h1 {
  text-align: start;
  color: var(--txt);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40pt;
  line-height: 1;

  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  margin: 0;
  font-size: 25pt;
  color: var(--txt);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 10pt;
  margin: 0;
  color: var(--txt);
}

h4 {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15pt;
  font-weight: bold;
  color: var(--txt);
}

label {
  font-family: "Roboto", sans-serif;
  text-align: start !important;
  justify-content: start;
  font-size: 10pt !important;
}

/********* Basic elements ***********/
input {
  font-family: "Roboto", sans-serif;
  color: var(--txt);
  background: var(--bg);
  height: 50px;
  height: 3em;

  border: 1px solid var(--accent-high);
  border-radius: var(--border);

  text-indent: 10px;
  padding: 0;
  margin: 0;

  width: 100%;

  transition: 0.25s;
}

input:focus {
  outline: none;
  color: var(--txt);
  box-shadow: 0 0 0px 3px var(--primaryColor) inset;

  background-color: var(--bg);
  transition: 0.25s;
}

input:disabled {
  color: var(--txt);
  background-color: var(--accent-med);
}

textarea {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);

  resize: vertical;
  border: 1px solid var(--accent-high);

  border-radius: var(--border);

  padding: 10px;
  margin: 0;

  height: 5em;
  width: 100%;

  transition: 0.2s;
}

textarea:focus {
  outline: none;
  color: var(--txt);
  box-shadow: 0 0 0px 3px var(--primaryColor) inset;

  background-color: var(--bg);
  transition: 0.25s;
}

.danger {
  box-shadow: 3px 3px 0px 1px var(--dangerColor);
}

input {
  font-family: "Roboto", sans-serif;
  color: var(--txt);
  background: var(--bg);
  height: 50px;
  height: 3em;

  border: 1px solid var(--accent-high);
  border-radius: var(--border);

  text-indent: 10px;
  padding: 0;
  margin: 0;

  width: 100%;

  transition: 0.25s;
}

button {
  font-family: "Roboto", sans-serif;
  color: var(--txt);
  font-weight: 500;
  font-size: 10pt;
  text-wrap: "wrap";
  border-radius: var(--border);
  line-height: 1.2em;

  background-color: var(--primaryGradient);
  padding: 10px;
  margin: 0;

  cursor: pointer;

  border: 1px solid var(--accent-high);
  transition: 0.5s;
}

button:hover {
  background-color: var(--accent-sm);
  transition: 0.2s;
  transform: scale(1.05);
}

button:disabled {
  cursor: auto;
  opacity: 50%;
}

.accentButton {
  background: var(--primaryColor);
  color: var(--txt);
}

.accentButton:hover {
  background-color: var(--txt);
  color: var(--bg) !important;
  transform: scale(1.02);
}

.accentButton:disabled {
  background: var(--bg);
  color: var(--txt);
}

.dangerButton {
  background-color: var(--dangerColor);
  color: #111111;
}

.safeButton {
  background-color: var(--safe);
  color: #111111;
}

.warningButton {
  background-color: var(--warning);
  color: #111111;
}

.lightButton {
  color: var(--bg);
  background-color: var(--accent-sm);
}

.lightButton:hover {
  color: var(--txt);
  background-color: var(--accent-high);
}

.bgLight {
  background-color: var(--bg);
  color: var(--txt) !important;
}

.bgLight * {
  color: var(--txt) !important;
}

select {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  background-color: var(--accent-high);
  border-radius: 5px;
  padding: 5px;

  cursor: pointer;

  border-style: unset;

  transition: 0.2s;
}

select:hover {
  background-color: var(--accent-sm);
  transition: 0.2s;
}

select:focus-visible {
  border: 0px none;
}

select[data-chosen] {
  background-color: var(--accent-med);
}

option {
  font-weight: 400;
}

input[type="checkbox"] {
  display: flex;

  padding: 10px 10px;

  justify-self: unset;
  background-color: var(--bg);
  appearance: none;

  border: 1px solid var(--accent-sm);

  cursor: pointer;

  transition: 0.2s;
}

input[type="checkbox"]:checked {
  background-color: var(--primaryColor);
  transition: 0.2s;
}

input[role="combobox"] {
  box-shadow: none;
  transition: 0.2s;
}

input[type="checkbox"]:hover {
  opacity: 0.7;
  transition: 0.2s;
}

input[type="checkbox"]:disabled {
  cursor: default;
  opacity: 0.5;

  transition: 0.2s;
}

input[type="date"] {
  padding: 0;
  text-indent: 5px;
}

label[role="upload"] {
  font-weight: bold;
  border-radius: var(--border);
  background-color: var(--accent-sm);
  padding: 10px;

  transition: 0.25s;
}

label[role="upload"]:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 0.25s;
}

td {
  font-size: 10pt;
  padding: 5px 10px;
}

th {
  font-weight: bold;
  font-size: 10pt;
  padding: 5px 10px;
}

.basicIcon {
  display: flex;
  width: 10pt;
  height: 10pt;
  transition: 0.3s;
}

.headingIcon {
  width: 16pt !important;
  height: 16pt !important;
}

.buttonIcon {
  padding: 0.2em;
  border-radius: 6px;
  cursor: pointer;

  transition: 0.2s;
}

.buttonIcon:hover {
  color: var(--accent-sm);
  opacity: 50%;
  transform: scale(1.1);

  transition: 0.2s;
}

/************************************
************ Display ***********
*************************************/
.boxed {
  background: var(--accent-sm);

  border-radius: var(--border);

  transition: 0.2s;
}

.boxedAccent {
  border-radius: var(--border);
  padding: 10px;

  background: var(--primaryColor);
  color: #111111;

  transition: 0.2s;
}

.boxedAccent:hover {
  background-color: var(--primaryColor) !important;
}

.boxedSecondary {
  border-radius: var(--border);
  padding: 10px;

  background: var(--secondaryColor);
  color: #111111 !important;

  transition: 0.2s;
}

.boxedSecondary:hover {
  background-color: var(--secondaryColor) !important;
}

.boxedDark {
  border-radius: var(--border);
  padding: 10px;

  background: var(--bg);
  color: var(--txt);

  transition: 0.2s;
}

.boxedLight {
  border-radius: var(--border);

  padding: 5px;

  background: var(--txt);
  color: var(--bg);

  transition: 0.2s;
}

.outline {
  border-radius: var(--border);
  border: 1px solid var(--accent-high);
  transition: 0.2s;
}

.modalBackground {
  position: fixed;
  backdrop-filter: blur(1.5px);
  cursor: auto;

  overflow: hidden;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 15;

  background-color: #eeeeee44;
}

.fillScreen {
  position: fixed;
  cursor: auto;

  overflow: hidden;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 15;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;

  background: var(--bg);
  backdrop-filter: 10px;

  border-radius: var(--border);
}

.divider {
  border-bottom: solid 1px var(--accent-med);
  transition: 0.2s;
}

.clickable {
  border-radius: var(--border);
  transition: 0.3s;
  cursor: pointer;
}

.clickable:hover {
  background-color: var(--accent-high);
  opacity: 0.7;
  transition: 0.3s;
  transform: scale(1.02);
}

.highlight {
  background-color: var(--primaryGradient) !important;
  color: #222222 !important;
}

.light {
  background-color: var(--accent-med);
  color: var(--bg);
}

.noBorder {
  border: 0;
}

.s1 {
  box-shadow: 0 0 10px 1px var(--bg);
}

.s2 {
  box-shadow: 0 0 50px 1px var(--bg);
}

/* -- animation -- */

.mediumFade {
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

.slowFade {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.mediumFadeOut {
  animation-name: fadeOut;
  animation-duration: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

/************************************
************ Size ***********
*************************************/
.w10 {
  width: 10%;
}
.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}
.w60 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}
.vh80 {
  height: 80vh;
}

.vh50 {
  height: 50vh;
}

/*****************************
Margin
*****************************/
.m0 {
  margin: 0;
}

.m1 {
  margin: 5px !important;
}

.m2 {
  margin: 10px !important;
}

.m3 {
  margin: 20px !important;
}

.mr1 {
  margin-right: 5px;
}

.ml1 {
  margin-left: 5px;
}

.mt1 {
  margin-top: 5px;
}

.mb1 {
  margin-bottom: 5px;
}

.ml2 {
  margin-left: 10px;
}

.mr2 {
  margin-right: 10px;
}

.mb2 {
  margin-bottom: 10px;
}

.mt2 {
  margin-top: 10px;
}

.ml3 {
  margin-left: 20px;
}

.mr3 {
  margin-right: 20px;
}

.mb3 {
  margin-bottom: 20px;
}

.mt3 {
  margin-top: 20px;
}

/*****************************
Padding
*****************************/
.p0 {
  padding: 0;
}

.p1 {
  padding: 5px !important;
}

.p2 {
  padding: 10px !important;
}

.p3 {
  padding: 40px !important;
}

.pr1 {
  padding-right: 5px;
}

.pl1 {
  padding-left: 5px;
}

.pt1 {
  padding-top: 5px;
}

.pb1 {
  padding-bottom: 5px;
}

.pl2 {
  padding-left: 10px;
}

.pr2 {
  padding-right: 10px;
}

.pb2 {
  padding-bottom: 10px;
}

.pt2 {
  padding-top: 10px;
}

.pv2 {
  padding: 10px 0;
}

.ph2 {
  padding: 0 10px;
}

.pl2 {
  padding-left: 10px;
}

.pr2 {
  padding-right: 10px;
}

.pr3 {
  padding-right: 20px;
}

.pl3 {
  padding-left: 20px;
}

.pt3 {
  padding-top: 20px;
}

.pb3 {
  padding-bottom: 20px;
}

.r0 {
  border-radius: 0 !important;
}

.r1 {
  border-radius: var(--border) !important;
}

/************************************
************ Layout ***********
*************************************/
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.loadingContainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.middle {
  display: flex;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.stretch {
  align-items: stretch;
}

.end {
  display: flex;
  justify-content: end;
}

.start {
  display: flex;
  justify-content: start;
}

.textLeft {
  text-align: start !important;
}

.textRight {
  text-align: end !important;
}
.textCenter {
  text-align: center !important;
}

.wrap {
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
  top: 0;
}

.bold {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .centerContainer .shrinkRow {
    flex-direction: column;
    align-items: space-between;

    width: 30%;
  }
  .shrinkWrap {
    flex-wrap: wrap;
  }
  .loadingContainer {
    height: 80vh;
    width: 100vw;
  }
  .dynamicSize {
    min-width: 90%;
  }
  .centerContainer .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .centerContainer .dynamicRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hiddenOnShrink {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
  .navBar {
    position: fixed;
    transition: 0.2s;
  }
  .fixedRow {
    justify-content: start;
    flex-direction: row;
  }
  .thirty,
  .fifty,
  .sixty,
  .seventyFive,
  .ten,
  .w10,
  .w25,
  .w30,
  .w33,
  .w50,
  .w75,
  .w100 {
    width: 100%;
  }
  .flexShrink {
    width: unset !important;
  }
}
